snippet po
	namespace po  = boost::program_options;
	po::options_description desc( "Allowed option" );
	desc.add_options()
	    ("help", "produce help message")
	    ("simtime", "Simulation time", po::value<double>()->default_value(10) )
	    ("dt", "DT for simulation", po::value<double>()->default_value(0.1) )
	    ;
	po::variables_map vm;
	po::store( po::parse_command_line( argc, argv, desc), vm);
	vm.notify();

	if( no.count("help")) {
	    cout << desc << endl;
	    return 1;
	}

